#divOne{
padding: 30px 50px;
    background-color: blue;
}

#divTwo{
   width: 30mm;
   height: 50mm;
    background-color: crimson;
}

#divThree{
    width: 5in;
    height: 10in;
    background-color: darkgoldenrod;
}

#divFour{
    
    background-color: lawngreen;
}

#divFive{
    
    background-color: hotpink;
}

#divSix{
    
    background-color: tomato;
}